/*
Colours
Dark Blue #152a69
Mid-blue #446da3
Aqua #189ebb
Mid-aqua #92becb
Beige #e1dad0
Sand #fffced
*/

/* Base structure
-------------------------------------------------- */
body {
  padding-top: 3.5rem;
  color: #152a69;
}

/* Typography
-------------------------------------------------- */
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #92becb;
}
h1, h2, h3, h4, h5 {
  color: #189ebb;
}

/* Nav
-------------------------------------------------- */
nav {
  background-color: #152a69;
}
nav a.navbar-brand {
  font-size: 1rem;
}
nav ul li a,
nav ul li a.dropdown-item {
  color: #446da3;
}
nav ul li a:hover,
nav ul li a.dropdown-item:hover {
  color: #189ebb;
}
.welcome {
  color: #fff;
}

/* Sidebar
-------------------------------------------------- */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation
-------------------------------------------------- */
.sidebar {
  background-color: #446da3;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .nav {
  margin-bottom: 20px;
}
.sidebar .nav-item {
  width: 100%;
}
.sidebar .nav-item + .nav-item {
  margin-left: 0;
}
.sidebar .nav-link {
  border-radius: 0;
}
a.nav-link,
a.dropdown-item {
  color: #fff;
}
a.nav-link:hover,
a.dropdown-item:hover {
  color: #92becb;
}

/* Form styles
----------------------------------------------------- */
form.add-listing-form select,
form.add-listing-form input.wide,
form.add-listing-form textarea {
  min-width: 100%;
}
.form-inline label {
  justify-content: left;
}
form button.btn {
  background-color: #189ebb;
  color: #fff;
}
form button.btn:hover {
  opacity: .8;
}

/* Media queries
-------------------------------------------------- */
@media (min-width: 576px) {
a i.fa-home,
a i.fa-user {
  font-size: 1.2rem;
}
}

@media (min-width: 1200px) {
.mb-xl-24 {
  margin-bottom: 2.4rem!important;
}
}
