/*
Colours
Dark Blue #152a69
Mid-blue #446da3
Aqua #189ebb
Mid-aqua #92becb
Beige #e1dad0
Sand #fffced
*/

/* Base structure
-------------------------------------------------- */
body {
  padding-top: 3.5rem;
  color: #152a69;
}

/* Typography
-------------------------------------------------- */
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #92becb;
}
h1, h2, h3, h4, h5 {
  color: #189ebb;
}
label {
  color: #446da3;
}
/*sup {
  top: .3em !important;
  bottom: .3px !important;
}*/

/* Navigation
-------------------------------------------------- */
nav {
  background-color: #152a69;
}
nav a.navbar-brand {
  font-size: 1rem;
}
.welcome {
  color: #fff;
}

/* Sidebar
-------------------------------------------------- */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: visible;
  overflow-y: visible;
  border-right: 1px solid #eee;
}

/* Sidebar navigation
-------------------------------------------------- */
.sidebar {
  background-color: #446da3;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .nav {
  margin-bottom: 20px;
}
.sidebar .nav-item {
  width: 100%;
}
.sidebar .nav-item + .nav-item {
  margin-left: 0;
}
.sidebar .nav-link {
  border-radius: 0;
}
a.nav-link {
  color: #fff;
}
a.dropdown-item {
  background-color: #92becb;
  color: #fff;
  min-width: 9rem;
}
a.dropdown-item:hover,
a.nav-link.no-dropdown:hover {
  background-color: #92becb;
  color: #152a69;
}
.navbar-toggler {
  border-color: #fff;
}
.sidebar .dropdown-toggle::after {
  display: none;
}

/* Form styles
----------------------------------------------------- */
form {
  margin-bottom: 50px;
}
.listing-form {
  background-color: #f1f1f1;
  padding: 40px 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}
form.add-listing-form select,
form.add-listing-form input.wide,
form.add-listing-form textarea {
  min-width: 100%;
}
.form-inline label {
  justify-content: left;
}
form button.btn,
input.btn {
  background-color: #189ebb;
  color: #fff;
  padding: .75rem 1.5rem;
}
form button.btn:hover,
input.btn:hover {
  opacity: .8;
}

/* Change Featured Images
-------------------------------------------------- */
.custom-control-indicator {
  top: 45%;
}

/* Upload Images
-------------------------------------------------- */
input#add_more {
  background-color: #fff;
  border: 1px solid #152a69;
  color: #152a69;
  margin-top: 5px;
}
input#add_more:hover {
  background-color: #f1f1f1;
  opacity: 1;
}
.image-form,
.featured-image-form {
  background-color: #f1f1f1;
  padding: 40px 20px;
  margin-bottom: 25px;
  border-radius: 5px;
}
#file {
  color: #152a69;
  padding: 5px;
  border: 1px solid #152a69;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
}
#img {
  width: 37px;
  border: none;
  height: 37px;
  margin-left: -25px;
  margin-bottom: 130px;
}
.abcd img {
  height: 150px;
  padding: 10px;
  border: 1px solid #189ebb;
}

/* View Listings Table
-------------------------------------------------- */
thead.view-listings-head,
thead.images-head {
  background-color: #92becb;
  color: #fff;
}
.table td,
.table th {
  vertical-align: middle;
}
td a.view-listing-edit,
td a.view-listing-delete {
  text-decoration: none;
}
td a.view-listing-edit:hover,
td a.view-listing-delete:hover {
  text-decoration: underline;
}
td a.view-listing-edit {
  color: green;
}
td a.view-listing-delete {
  color: red;
}

/* Error Messages
-------------------------------------------------- */

.success-message,
.error-message {
  width: 100%;
  padding: 8px 0 8px 10px;
  color: #152a69;
  transition: opacity .5s;
}
.success-message {
  background-color: rgba(111,216,6, 0.6);
  margin-bottom: 25px;
}
.error-message {
  background-color: rgba(255,0,0, 0.6);
  margin-bottom: 25px;
}

/* Media queries
-------------------------------------------------- */
@media (min-width: 768px) {
  .sidebar .dropdown-toggle::after {
  display: inline-block;
}
a i.fa-home,
a i.fa-user,
a i.fa-camera-retro,
a.nav-link i.fa-dashboard {
  font-size: 1.2rem;
}
}

@media (min-width: 1200px) {
.mb-xl-24 {
  margin-bottom: 2.4rem!important;
}
}
