/*
Colours
Dark Blue #152a69
Mid-blue #446da3
Aqua #189ebb
Mid-aqua #92becb
Beige #e1dad0
Sand #fffced
*/

/* site structure
-------------------------------------------------- */
body {
  /*padding-top: 3.5rem;*/
  color: #152a69;
}
.container {
  width: 80%;
  max-width: 1150px;
}

/* typography
-------------------------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: 'Baumans', cursive;
  color: #446da3;
}
.page-image-widget h1 {
  color: #fff;
}
.view-listing h3,
.view-listing h4 {
  color: #189ebb;
  padding-top: 5px;
}
a {
  color: #189ebb;
  text-decoration: none;
}
a:hover {
  color: #446da3;
  text-decoration: underline;
}

/* header styles
----------------------------------------------------- */
nav img{
  height: 30px;
}
nav {
  background-color: #fff;
  border-bottom: 1px solid #446da3;
}
nav ul li a,
nav ul li a.dropdown-item {
  color: #446da3;
}
nav ul li a:hover,
nav ul li a.dropdown-item:hover {
  color: #189ebb;
}
.navbar-toggler {
  border-color: #446da3;
}
button span i.fa-bars {
  color: #446da3;
}
.navbar {
  opacity: 0;
  transition: opacity .5s;
}
.opaque {
  opacity: 1;
  transition: opacity .5s;
}
.welcome {
  color: #189ebb;
  font-size: 1.2rem;
}
.header-image {
  background-image: url("../images/page-header.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  padding: 0;
  height: 400px;
  width: 100%;
}
.page-image-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px auto;
  width: 90%;
  max-width: 400px;
  text-align: center;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%);
  color: #fff;
}
.content-widget {
  padding: 100px 20px;
}

/* footer styles
-------------------------------------------------- */
.footer-widget-area {
  height: auto;
  background-color: #446da3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-widget {
  margin-top: 10px;
  margin-bottom: 10px;
  /*position: relative;*/
}
.footer-widget-content {
  background-color: #fff;
  height: 100%;
  border-radius: 5px;
  padding: 2em 1em;
  min-width: 266px;
}
.footer {
  height: 60px;
  line-height: 60px;
  font-size: .9em;
  background-color: #152a69;
  color: #fff;
}
span.copyrite {
  width: 100%;
  text-align: center;
}
table.our-team {
  font-size: 75%;
}
ul.contact-details{
  list-style: none;
  padding-left: 0px;
}

/* Error Messages
-------------------------------------------------- */
.success-message,
.error-message {
  width: 100%;
  padding: 8px 0 8px 10px;
  color: #152a69;
  transition: opacity .5s;
}
.success-message {
  background-color: rgba(111,216,6, 0.6);
  margin-bottom: 25px;
}
.error-message {
  background-color: rgba(255,0,0, 0.6);
  margin-bottom: 25px;
}
.validate-error-message {
  color: red;
}

/* Form styles
----------------------------------------------------- */
form.search-form select {
  min-width: 100%;
}
.search-form-outer {
  background-color: #f1f1f1;
}
.search-form-inner {
 padding: 2rem 0 3rem 0;
}
form button.btn {
  background-color: #189ebb;
  color: #fff;
  width: 100%;
}
form button.btn:hover {
  opacity: .8;
}
.login-form-box {
  margin: 10em auto;
  width: 100%;
  max-width: 500px;
  padding: 4em 5em;
  border-radius: .5em;
  background-color: #f1f1f1;
  border: 1px solid #eee;
}
.login-form-box p {
  margin-top: 1em;
  margin-bottom: 0;
}
form.contact-form .form-inline .form-control {
  width: 100%;
}

/* Slider styles
----------------------------------------------------- */
.slider-inner {
  padding-bottom: 2rem;
}

/* featured listings
----------------------------------------------------- */
.page-content-top img{
  width: 100%;
  height: 100%;
  max-height: 300px;
}
.featured-property-table {
  float: left;
  display: inline-block;
  background-color: #fff;
  padding: 10px 10px 20px 10px !important;
}

/* Homepage property listings
----------------------------------------------------- */
.property-listing-table {
  padding: 0px !important;
}
.property-listing-table img {
  width: 100%;
  height: 100%;
  max-height: 200px;
}
.card-image-top img {
  width: 100% !important;
}
.card{
  background-color: #f1f1f1;
  padding-right: 0px !important;
  margin-right: 0px !important;
}

/* Search Tool
----------------------------------------------------- */
.search-listings-container {
  padding: 5rem 0;
}
.search-listings td {
  padding: 5px 10px 5px 10px;
}
.search-listings p {
  font-size: 10pt;
}
.search-listings-container h4 {
  text-align: left;
  color: #189ebb;
}

/* Carasaul styling on product page
--------------------------------------- */
.carousel-item img {
  width: 100% !important;
  height: 100%;
  max-height: 450px !important;
}
.carousel-item{
  padding-left: 20px;
  padding-right: 20px;
}

/* Product Content
----------------------------------------*/
.product-heading {
  padding: 5rem 0 0 0;
}
#product-3 {
  padding-left: 2em;
  padding-top: 2em;
  background-color: #eaeaea;
  font-size: 10pt;
  margin-top: 3em;
}
#product-3 span {
  display: inline;
  color: #446da3;
}
#product-2 p {
  font-size: 11pt;
  padding-right: 40px;
}
.product-full {
  /*margin-top: 5rem;*/
  margin-bottom: 5rem;
  padding: 2rem 1rem;
  border: 1pt solid;
  border-color: #eaeaea;
  border-radius: 3pt;
}
/*#product_content {
  padding: 0px 40px 0px 40px !important;
}*/
.display-block-2 {
  padding-right: 80px;
}
#wishlist-icon i {
  float: right;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/* Agent Contact On Product Page
----------------------------------------*/
.agent {
  padding-right: 0px !important;
  padding-left: 0px !important;
  border: 1pt solid #189ebb;
  border-radius: 2px;
}
.contact-agent{
  background-color: #189ebb;
  padding: 8px;
}
.contact-agent h4 {
  color: #fff;
  margin-bottom: 0;
}
#product-map-agent {
  margin-top: 40px;
}
.display-block-3 {
  float: right;
  display: inline-block;
  padding-right: 0px !important;
}
.agent img {
  width: 100px;
  height: 100px;
  display:block;
  margin:auto;
  padding-top: 10px;
}
.agent-descr {
  font-size: 10pt;
}
.agent-data {
  padding:10px;
}
.agent-btn {
  display:block;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.email{
  color: #189ebb !important;
}

/* Contact Us Page
----------------------------------------*/
.contact-content-container {
  padding: 100px 10px;
}
.contact-map {
  height: 100%;
  max-height: 322px;
}

/* Media Queries
----------------------------------------*/
@media (max-width: 720px) {
.display-block-3{
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 0px !important;
}
.carousel-item img {
  height: 80% !important;
}
}
