/*
Colours
Dark Blue #152a69
Mid-blue #446da3
Aqua #189ebb
Mid-aqua #92becb
Beige #e1dad0
Sand #fffced
*/

/* site structure
-------------------------------------------------- */
.container {
  width: 80%;
  max-width: 1150px;
}

/* typography
-------------------------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: 'Baumans', cursive;
}

/* footer styles
-------------------------------------------------- */
.footer-widget-area {
  height: auto;
  background-color: #446da3;
  color: #fff;
}
.footer-widget {
  padding: 50px 20px;
}
.footer {
  height: 60px;
  line-height: 60px;
  font-size: .9em;
  background-color: #152a69;
  color: #fff;
}
span.copyrite {
  width: 100%;
  text-align: center;
}
